@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$color--primary: #52ce90;
$color--secondary: #FF8B66;
$color--gray: #dacfcf;
$color--darkgray: #987a7a;
$color--blue: #125CE0;

.background {
    --c: rgba(255, 255, 255, 0.7);
    --t: transparent;
    background-image: repeating-linear-gradient(45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
        repeating-linear-gradient(-45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
        linear-gradient(to bottom right, $color--primary, $color--secondary);
}

.background2 {
    background-image: radial-gradient(circle closest-side, $color--primary 61%, transparent 62%),
        radial-gradient(circle closest-side, transparent 85%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 99%, transparent 100%),
        radial-gradient(circle closest-side, transparent 85%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 99%, transparent 100%);
    background-size: 100px 100px,
        100px 50px,
        50px 100px;
    background-position: 0px 0px;
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Montserrat",
        sans-serif;
    //background-color: #fffafa;
    //$color--primary: $color--primary;

    @extend .background;

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }


    /* HEADER */
    .page-header {
        background-color: $color--gray;
    }

    button {
        background: none;
        outline: none;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

.page-header {

    .cta-contact {
        background-color: $color--secondary;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @extend .background;

        .nav-links {
            display: flex;
            margin-right: 100px;
            flex-direction: row;
            justify-content: flex-end;
            margin-left: 40px;
        }
    }

    ul {
        display: flex;
        order: 1;
        width: 100%;
        margin-top: 15px;
    }

    li {
        margin: 0;


    }

    a {
        margin: 50px;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            padding: 1em;
            background: $color--secondary;
            color: #ffffff;
        }
    }

    .logo {
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        background-color: white;
    }

    img {
        height: 80px;
        width: 80px;
    }

    ul li:not(:last-child) {
        padding-right: 15px;
    }



    .cta-contact {
        font-family: inherit;
        font-size: 1.2rem;
        padding: 5px 18px;
        border: 1px solid;
        border-radius: 5px;
    }
}

.page-main {
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
        grid-gap: 1rem;
        padding: 1rem;
        margin-top: 2em;
    }

    .card {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 1px 5px #555;
        background-color: $color--gray;
        padding: 1rem;
        width: 300px;

        &__header {
            text-align: center;
            font-size: 2rem;
            border-bottom: 5px solid $color--blue;
            padding: 1rem;

            @extend .background2;
        }

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px 0;
            background-image: url("../img/2.jpg");
        }

        &__text {
            color: white;
        }

        &__time {
            padding: 1rem;
            font-size: 0.6rem;
            font-weight: 100;
            font-style: italic;
            color: $color--darkgray;
        }


        &__button {
            color: white;
            text-transform: uppercase;
            border: 3px solid $color--primary;
            padding: 1rem;
            background-color: $color--primary;

            &:hover {
                background: $color--secondary;
                color: #ffffff;
            }
        }
    }

    .page-about {
        padding: 2em;
        background-color: $color--primary;
        background-image:
            radial-gradient(circle closest-side, $color--primary 61%, transparent 62%),
            radial-gradient(circle closest-side, transparent 85%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 99%, transparent 100%),
            radial-gradient(circle closest-side, transparent 85%, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 1) 99%, transparent 100%);
        background-size: 100px 100px, 100px 50px, 50px 100px;
        background-position: 0px 0px;

        &__title {
            padding: 1em;
            color: white;
            text-align: center;
            background-color: $color--darkgray;
        }

        &__text {
            background-color: $color--darkgray;
            color: white;
            padding: 1em;
        }
    }
}


.page-footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    &__footer {
        font-size: 1rem;
    }
}

.heading {

    color: white;

    a {
        color: white;
        text-decoration: underline;
    }

    &-container {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    &-text {
        padding: 2em;
        width: 100%;
        background-color: $color--darkgray;
        height: 300px;
    }

    &-image {
        width: 100%;
        background-color: #777;
        background-image: url("../img/2.jpg");
        //background-repeat: no-repeat;
        background-position: 60%;
        //min-height: 100%;
        // background-size: cover;
        //background-position: right top;
        //background-attachment: fixed;
        background-size: 100% 100%;
        height: 300px;
    }
}



.form {
    display: flex;
    margin-top: 2em;

    &-container {
        background: $color--gray;
        border: solid 3px $color--blue;
        margin: auto;
        position: relative;
        padding: 1em;
    }

    h1 {
        color: $color--darkgray;
        padding: 1em;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 7px;
        text-align: center;
        text-transform: uppercase;
    }

    button,
    input,
    select,
    textarea {
        color: $color--primary;
        font: inherit;
        margin: 0;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        background: none;
        border: none;
        border-bottom: solid 2px $color--blue;
        color: $color--blue;
        font-size: 1.000em;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0em 0 1.8em 0;
        padding: 0 0 0.8em 0;
        text-transform: uppercase;
        width: 100%;
    }

    #form_button {
        display: flex;
        background: none;
        border: solid 2px $color--primary;
        cursor: pointer;
        font-size: 0.8em;
        font-weight: bold;
        outline: none;
        padding: 1em;
        text-transform: uppercase;
        margin-left: auto;

        &:hover {
            background: $color--secondary;
            color: #ffffff;
        }
    }
}


.page-footer {
    margin-top: 2em;
    background-color: $color--gray;
    padding: 2em;
    color: black;
}